{% extends "layout.twig.html" %}
{% block content %}
	<section>
		<aside>
			<div class="container text-center">
				<h2>Info Contacto</h2>
				<div class="line-center"></div>
			</div>
		</aside>
		<div class="divider-sm"></div>
		<div class="container">
			<div class="row">
	            <div class="col-md-4 col-sm-12 text-center">
                	<h3>Atención a Participantes</h3>
                	<img src="{{asset('img/derma-logo-contact.png')}}" class="img-responsive img-center">
                	<p>
                		<strong>Información del Evento</strong><br>
	                	<i class="fa fa-envelope-o"></i> 
	                    <abbr title="Correo electrónico">E</abbr>: <a href="mailto:informes@dermacosmetica.mx">informes@dermacosmetica.mx</a>
	                </p>
	            </div>
	            <div class="col-md-4 col-sm-12 text-center">
	                <h3>Atención Expositores</h3>
	                <img src="{{asset('img/eventage-logo.png')}}" class="img-responsive img-center">
	                <p>
	                	<strong>Arcelia Fuentes</strong><br/>
	                	<i class="fa fa-phone"></i> 
	                    <abbr title="Teléfono">T</abbr>: +52 (55) 55230628 Ext 105</p>
	                <p>
	                	<i class="fa fa-envelope-o"></i> 
	                    <abbr title="Correo electrónico">E</abbr>: <a href="mailto:expos@eventagemexico.com">expos@eventagemexico.com</a>
	                </p>
            	</div>
            	<div class="col-md-4 col-sm-12 text-center">
	                <h3>Registro en Línea</h3>
	                <img src="{{asset('img/eventage-logo.png')}}" class="img-responsive img-center">
	                <p>
	                	<strong>Betzabét Hernández</strong><br/>
	                	<i class="fa fa-phone"></i> 
	                    <abbr title="Teléfono">T</abbr>: +52 (55) 55230628 Ext 106</p>
	                <p>
	                	<i class="fa fa-envelope-o"></i> 
	                    <abbr title="Correo electrónico">E</abbr>: <a href="mailto:grupos2@eventagemexico.com">grupos2@eventagemexico.com</a>
	                </p>
            	</div
        	</div>
		</div>
	</section>
{% endblock %}