{% extends "layout.twig.html" %}
{% block content %}
	<!-- Services Section -->
	<section id="services">
		<div class="container text-justify">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2>Costos</h2>
					<div class="line-center"></div>
					<h3>Cuotas y metódos de pago</h3>
				</div>
				<div class="col-md-4 col-sm-12">
					<div class="bs-callout bs-callout-info" id="callout-alerts-no-default">
						<h4>Costos</h4>
						<p>
							<strong>Pre-Inscripciones</strong><br>
							-Hasta el 31 de Agosto $1,000<br>
							-Del 1 al 30 de Septiembre $2,000<br>
							-Inscripcion Día del Congreso $3,000
						</p> 
					</div>
				</div>
				<div class="col-md-4 col-sm-12">
					<div class="bs-callout bs-callout-success" id="callout-alerts-no-default">
						<h4>Datos Bancarios</h4>
						<p>
							<strong>Razón Social:</strong><br>
							Global Projects México<br>
							S de RL de CV<br>
							-RFC: GPM080808IX7<br>
							-Banco: BANORTE<br>
							-Número de Cuenta: 0565996914<br>
							-Número de la Sucursal: 2116<br>
							-Clabe Interbancaria:<br>
							072 180 005659969144
						</p> 
					</div>
				</div>
				<div class="col-md-4 col-sm-12">
					<div class="bs-callout bs-callout-paypal" id="callout-alerts-no-default">
						<h4>PayPal</h4>
						<p>
							<strong>Pre-Inscripciones</strong><br>
							-Hasta el 31 de Agosto $1,000<br>
							-Del 1 al 30 de Septiembre $2,000<br>
							-Inscripcion Día del Congreso $3,000
						</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="well">
						<a href="http://registro.dermacosmetica.ahmreg.com/" target="_blank" class="btn btn-info btn-md" disabled="disabled"><i class="fa fa-user-plus" aria-hidden="true"></i>  Inscripción En Línea</a>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}