{% extends "layout.twig.html" %}
{% block header %}
	<!-- Header -->
	<header id="slide">
		<div class="container">
			<div class="intro-text">
				<img src="{{asset('img/derma-logo-xs.png')}}" class="img-responsive img-center">
				<h1>
					Curso personalizado de<br/>
					voluminización facial y botulínica.<br/>
					<small>
						Técnicas avanzadas
					</small>
				</h1>
				<h2>
					7 y 8 de Abril de 2017
				</h2>
				<div class="divider-md"></div>
				<a href="#new" class="page-scroll btn btn-lg btn-primary">
					<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span> Más Info
				</a>
			</div>
		</div>
	</header>
{% endblock %}
{% block nav %}
	<!-- Navigation -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand page-scroll" href="{{path('inicio')}}">
					<img src="{{asset('img/cong-icon-md.png')}}">
				</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				{{ include('nav.twig.html') }}
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
{% endblock %}
{% block content %}
	<section id="new">
		<div class="container text-center">
			<div class="row">
				<div class="col-md-12">
					<div class="aqua">
						<img src="{{asset('img/derma-logo-xs.png')}}" class="img-responsive img-center">
						<h2>
							Concepto y aplicación del PHI-phi en el rostro, número aureo<br/>
							Videos de anatomía cadavérica, inyecciones en vivo.
						</h2>
						<h3>
							Holiday Inn  WTC<br/>
							<small>
								Dakota #95, Junto al centro de exposiciones WTC,<br/>
								Cd. México - Zona Nápoles, Distrito Federal
							</small>
						</h3>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-md-offset-2">
					<img src="{{asset('img/ponentes/dra-valeria-lopez.jpg')}}" class="img-circle" style="width: 160px; height: 160px;">
                    <h3>Dra. Valeria López</h3>
                    <p>
                    	Presidenta SAMEI<br/>
						(Sociedad Argentina Médica Expertos en Inyectables)<br/>
						Speaker Internacional <br/>
						MERZ - ALLERGAN - IBSA
                    </p>
				</div>
				<div class="col-md-4">
					<img src="{{asset('img/ponentes/dr-javier-ruiz.jpg')}}" class="img-circle" style="width: 160px; height: 160px;">
                    <h3>Dr. Javier Ruíz Ávila</h3>
                    <p>
						(Sociedad Mexicana Médica Expertos en Inyectables)<br/>
						Speaker Internacional<br/>
						MERZ - ALLERGAN - GALDERMA
                    </p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="aqua">
						<p class="lead">
							Duración 1.5 días<br/>
							Costo del taller $2,000.00 USD + IVA<br/>
							<strong>Cupo limitado a 30 lugares</strong><br/>
							Inscripciones<br/>
							<a href="{{path('inscripcion')}}" class="btn btn-lg btn-info">Inscribirse Ahora</a>
						</p>
					</div>
				</div>
		</div>
	</section>
	<!-- Services Section -->
	<section id="services">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/UHw3yQb3WiA"></iframe>
					</div>
					<!--
					<h2 class="section-heading">Mensaje de Bienvenida</h2>
					<h3 class="section-subheading text-muted">Queridos colegas y amigos:</h3>
				</div>
			</div>
			<div class="row text-center">
				<div class="col-md-6 col-md-offset-3">
					<p>
						<img src="{{asset('img/javier-ruiz.jpg')}}" class="img-responsive img-circle img-centered">
					</p>
					<p class="lead">
						"Es para mi un gusto tener la oportunidad de convocarlos por quinta ocación al Congreso de Dermacosmética, que se llevará a cabo en el mes de Octubre en la Ciudad de México."
					</p>
					<p>
						Nuestra meta es contar con un espacio diseñado para el intercabio activo de conocimientos y experiencias.
					</p>
					<p>
						Los objetivos son, dar a conocer nuevas y diferentes alternativas de tratamiento, profundizar y perfeccionar técnicas ya conocidas, valorar tratamientos y establecer expectativas reales en la práctica clínica cotidiana.
					</p>
					<p class="lead">
						"Todos tenemos, no tan solo algo que aprender si no también algo que aportar"
					</p>
					<p>
						Convencidos de que quedarán satisfechos de los conocimientos adquiridos y las buenas experiencias vividas, esperando contar con su presencia del 6 al 8 de Octubre en nuestra nueva Sede Centro Banamex, Ciudad de México
					</p>
					<p>
						<b>Los espero en Octubre<br>Dr. Javier Ruíz</b>
					</p>
				-->
				</div>
			</div>
		</div>
	</section> 
	<div class="player">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h3>Visite Nuestra Galería de Ediciones Pasadas</h3>
					<p>
						<a class="video2015 white-link" href="http://www.youtube.com/v/K69FWI23nlk?rel=0&amp;wmode=transparent" ><i class="fa fa-play-circle-o"></i> videomemoria 2015</a> | <a href="{{path('galeria')}}" class="white-link"><i class="fa fa-search-plus"></i> visitar galería</a>
					</p>
				</div>
			</div>
		</div>
	</div>

	<!-- About Section -->
	<section id="about">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<p>
						<img src="{{asset('img/derma-logo-sm.png')}}" class="img-responsive img-center">
					</p>
					<div class="divider-md"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<ul class="timeline">
						<li>
							<div class="timeline-image">
								<img class="img-circle img-responsive" src="{{asset('img/about/1.jpg')}}" alt="">
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4>Séptima<br>
										exitosa edición</h4>
								</div>
							</div>
						</li>
						<li class="timeline-inverted">
							<div class="timeline-image">
								<img class="img-circle img-responsive" src="{{asset('img/about/2.jpg')}}" alt="">
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4>Participantes<br>
										nacionales y extranjeros</h4>
								</div>
							</div>
						</li>
						<li>
							<div class="timeline-image">
								<img class="img-circle img-responsive" src="{{asset('img/about/3.jpg')}}" alt="">
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4><span class="yellow">+</span> de 1500<br>
										metros de exhibición</h4>
								</div>
							</div>
						</li>
						<li class="timeline-inverted">
							<div class="timeline-image">
								<img class="img-circle img-responsive" src="{{asset('img/about/4.jpg')}}" alt="">
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4>Aval de 70 laboratorios<br/>
										y 200 marcas</h4>
								</div>
							</div>
						</li>
						<li>
							<div class="timeline-image">
								<img class="img-circle img-responsive" src="{{asset('img/about/5.jpg')}}" alt="">
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4>Tálleres y pláticas<br>
										teórico - práctico</h4>
								</div>
							</div>
						</li>
						<li class="timeline-inverted">
							<div class="timeline-image">
								<img class="img-circle img-responsive" src="{{asset('img/about/6.jpg')}}" alt="">
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4>Profesores y especialistas<br/>
										nacionales e internacionales</h4>
								</div>
							</div>
						</li>   
					</ul>
					<div class="ending text-center">
						<h4>Todos los líderes  
							<br>de la dermatología cosmética
							<br>y clínica en un mismo evento 
						</h4>
						<!--
						<p>
							<a href="{{path('costos')}}" class="btn btn-warning"><i class="fa fa-pencil-square"></i> ¡Inscribirse Ahora!</a>
						</p>
					-->
					</div>
				</div>
			</div>
		</div>
	</section>
	{% endblock %}
	{% block js %}
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
	<script src="{{asset('js/classie.js')}}"></script>
	<script src="{{asset('js/cbpAnimatedHeader.js')}}"></script>
	{% endblock %}

