{% extends "layout.twig.html" %}
{% block content %}
	<section>
		<aside class="heading" style="background-image:url('{{ asset('images/slides002.jpg') }}');">
			<div class="container text-center">
				<h2 class="section-heading">Laboratorios Participantes</h2>
				<div class="line-center"></div>
				<div class="divider-sm"></div>
			</div>
		</aside>
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 text-center">
					<p>
						<img src="{{asset('img/laboratorios/labs-01.gif')}}">
						<img src="{{asset('img/laboratorios/labs-02.gif')}}">
						<img src="{{asset('img/laboratorios/labs-03.gif')}}">
						<img src="{{asset('img/laboratorios/labs-04.gif')}}">
						<img src="{{asset('img/laboratorios/labs-05.gif')}}">
						<img src="{{asset('img/laboratorios/labs-06.gif')}}">
						<img src="{{asset('img/laboratorios/labs-07.gif')}}">
						<img src="{{asset('img/laboratorios/labs-08.gif')}}">
						<img src="{{asset('img/laboratorios/labs-09.gif')}}">
						<img src="{{asset('img/laboratorios/labs-010.gif')}}">
						<img src="{{asset('img/laboratorios/labs-011.gif')}}">
						<img src="{{asset('img/laboratorios/labs-012.gif')}}">
						<img src="{{asset('img/laboratorios/labs-013.png')}}">
						<img src="{{asset('img/laboratorios/labs-014.gif')}}">
						<img src="{{asset('img/laboratorios/labs-015.gif')}}">
						<img src="{{asset('img/laboratorios/labs-016.png')}}">
						<img src="{{asset('img/laboratorios/labs-017.png')}}">
						<img src="{{asset('img/laboratorios/labs-018.gif')}}">
						<img src="{{asset('img/laboratorios/labs-019.gif')}}">
						<img src="{{asset('img/laboratorios/labs-020.gif')}}">
						<img src="{{asset('img/laboratorios/labs-021.gif')}}">
						<img src="{{asset('img/laboratorios/labs-022.gif')}}">
						<img src="{{asset('img/laboratorios/labs-023.gif')}}">
						<img src="{{asset('img/laboratorios/labs-024.gif')}}">
						<img src="{{asset('img/laboratorios/labs-025.png')}}">
					</p>
				</div>
			</div>
		</div>
	</section>
{% endblock %}