{% extends "layout.twig.html" %}
{% block content %}
	<section>
		<aside class="heading" style="background-image:url('{{ asset('images/slides002.jpg') }}');">
			<div class="container text-center">
				<h2 class="section-heading">Laboratorios Participantes</h2>
				<div class="line-center"></div>
				<div class="divider-sm"></div>
				<p class="platinum">
					<img src="{{asset('img/logos/merz.jpg')}}">
					<img src="{{asset('img/logos/perspirex.jpg')}}">
					<img src="{{asset('img/logos/radiesse.jpg')}}">
					<img src="{{asset('img/logos/xeomeen.jpg')}}">
					<img src="{{asset('img/logos/contractubex.jpg')}}"><br/>
					<img src="{{asset('img/logos/pantogar.jpg')}}">
					<img src="{{asset('img/logos/belotero.jpg')}}">
					<img src="{{asset('img/logos/ultherapy.jpg')}}">
					<img src="{{asset('img/logos/adisat.jpg')}}">
					<img src="{{asset('img/logos/altecmed.jpg')}}"><br/>
					<img src="{{asset('img/logos/fraxel.jpg')}}">
					<img src="{{asset('img/logos/sweatx.jpg')}}">
					<img src="{{asset('img/logos/thermage.jpg')}}">
					<img src="{{asset('img/logos/almasoprano.jpg')}}">
					<img src="{{asset('img/logos/fedele.jpg')}}"><br/>
					<img src="{{asset('img/logos/endocare.jpg')}}">
					<img src="{{asset('img/logos/uriage.jpg')}}">
					<img src="{{asset('img/logos/neostrata.jpg')}}">
					<img src="{{asset('img/logos/ghunther.jpg')}}">
					<img src="{{asset('img/logos/eltamd.jpg')}}"><br/>
					<img src="{{asset('img/logos/rejudicare.jpg')}}">
					<img src="{{asset('img/logos/pelleve.jpg')}}">
					<img src="{{asset('img/logos/ellman.jpg')}}">
					<img src="{{asset('img/logos/hairmax.jpg')}}">
					<img src="{{asset('img/logos/colorscience.jpg')}}"><br/>
					<img src="{{asset('img/logos/galderma.jpg')}}">
					<img src="{{asset('img/logos/dysport.jpg')}}">
					<img src="{{asset('img/logos/emervel.jpg')}}">
					<img src="{{asset('img/logos/restylane.jpg')}}">
					<img src="{{asset('img/logos/arfamex.jpg')}}"><br/>
					<img src="{{asset('img/logos/syneron.jpg')}}">
					<img src="{{asset('img/logos/velashape.jpg')}}">
					<img src="{{asset('img/logos/gentlemax.jpg')}}">
					<img src="{{asset('img/logos/pierrefabre.jpg')}}">
					<img src="{{asset('img/logos/euthermale.jpg')}}"><br/>
					<img src="{{asset('img/logos/allergan.jpg')}}">
					<img src="{{asset('img/logos/botox.jpg')}}">
					<img src="{{asset('img/logos/latisse.jpg')}}">
					<img src="{{asset('img/logos/juvederm.jpg')}}">
					<img src="{{asset('img/logos/leorex.jpg')}}"><br/>
					<img src="{{asset('img/logos/ppbserum.jpg')}}">
					<img src="{{asset('img/logos/skintherapy.jpg')}}">
					<img src="{{asset('img/logos/aquaskin.jpg')}}">
					<img src="{{asset('img/logos/medstore.jpg')}}">
					<img src="{{asset('img/logos/laroche.jpg')}}"><br/>
					<img src="{{asset('img/logos/ciruderm.jpg')}}">
					<img src="{{asset('img/logos/electromed.jpg')}}">
					<img src="{{asset('img/logos/skinmedical.jpg')}}">
					<img src="{{asset('img/logos/fcells.jpg')}}">
					<img src="{{asset('img/logos/valeant.jpg')}}"><br/>
					<img src="{{asset('img/logos/isdin.jpg')}}">
					<img src="{{asset('img/logos/deka.jpg')}}">
					<img src="{{asset('img/logos/probimed.jpg')}}">
					<img src="{{asset('img/logos/crl.jpg')}}">
					<img src="{{asset('img/logos/aesthetics.jpg')}}"><br/>
					<img src="{{asset('img/logos/eucerin.jpg')}}">
					<img src="{{asset('img/logos/reysa.jpg')}}">
					<img src="{{asset('img/logos/skinceuticals.jpg')}}">
					<img src="{{asset('img/logos/sgp.jpg')}}">
					<img src="{{asset('img/logos/dermatotec.jpg')}}"><br/>
					<img src="{{asset('img/logos/medik8.jpg')}}">
					<img src="{{asset('img/logos/nanogen3x.jpg')}}">
					<img src="{{asset('img/logos/nanogen.jpg')}}">
				</p>
		</aside>
	</section>
{% endblock %}