{% extends "layout.twig.html" %}
{% block content %}
	<section>
		<aside class="heading" style="background-image:url('{{ asset('images/slides002.jpg') }}');">
			<div class="container text-center">
				<h2 class="section-heading">Laboratorios Participantes</h2>
				<div class="line-center"></div>
				<div class="divider-sm"></div>
				<p>
					<img src="{{asset('img/merz.jpg')}}">
					<img src="{{asset('img/persipex.jpg')}}">
					<img src="{{asset('img/radiesse.jpg')}}">
					<img src="{{asset('img/xeomeen.jpg')}}">
					<img src="{{asset('img/contractubex.jpg')}}">
					<img src="{{asset('img/pantogar.jpg')}}">
					<img src="{{asset('img/belotero.jpg')}}">
					<img src="{{asset('img/ultherapy.jpg')}}">
				</p>
			</div>
		</aside>
	</section>
{% endblock %}