{% extends "layout.twig.html" %}
{% block content %}
    <!-- Services Section -->
    <section id="services">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="section-heading">Ponentes</h2>
                    <div class="line-center"></div>
                    <div class="divider-md"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="speakers">
                        <img src="{{asset('img/ponentes/ponente001.jpg')}}" alt="..." class="img-circle">
                        <div class="caption">
                            <h3>Mikael Akerfeldt</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales malesuada felis, sed fringilla lorem ultrices quis. Suspendisse iaculis ligula in nisi efficitur, </p>
                            <p><a data-toggle="modal" href="#myModal1" class="btn btn-success btn-sm" role="button"><i class="fa fa-user"></i> Ver Perfil</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="speakers">
                        <img src="{{asset('img/ponentes/ponente002.jpg')}}" alt="..." class="img-circle">
                        <div class="caption">
                            <h3>Anneke Giersbergen</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales malesuada felis, sed fringilla lorem ultrices quis. Suspendisse iaculis ligula in nisi efficitur, </p>
                            <p><a data-toggle="modal" href="#myModal2" class="btn btn-success btn-sm" role="button"><i class="fa fa-user"></i> Ver Perfil</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="speakers">
                        <img src="{{asset('img/ponentes/ponente003.jpg')}}" alt="..." class="img-circle">
                        <div class="caption">
                            <h3>Chrstina Scabia</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales malesuada felis, sed fringilla lorem ultrices quis. Suspendisse iaculis ligula in nisi efficitur, </p>
                            <p><a data-toggle="modal" href="#myModal3" class="btn btn-success btn-sm" role="button"><i class="fa fa-user"></i> Ver Perfil</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="speakers">
                        <img src="{{asset('img/ponentes/ponente001.jpg')}}" alt="..." class="img-circle">
                        <div class="caption">
                            <h3>Mikael Akerfeldt</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales malesuada felis, sed fringilla lorem ultrices quis. Suspendisse iaculis ligula in nisi efficitur, </p>
                            <p><a data-toggle="modal" href="#myModal1" class="btn btn-success btn-sm" role="button"><i class="fa fa-user"></i> Ver Perfil</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="speakers">
                        <img src="{{asset('img/ponentes/ponente002.jpg')}}" alt="..." class="img-circle">
                        <div class="caption">
                            <h3>Anneke Giersbergen</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales malesuada felis, sed fringilla lorem ultrices quis. Suspendisse iaculis ligula in nisi efficitur, </p>
                            <p><a data-toggle="modal" href="#myModal2" class="btn btn-success btn-sm" role="button"><i class="fa fa-user"></i> Ver Perfil</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="speakers">
                        <img src="{{asset('img/ponentes/ponente003.jpg')}}" alt="..." class="img-circle">
                        <div class="caption">
                            <h3>Chrstina Scabia</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales malesuada felis, sed fringilla lorem ultrices quis. Suspendisse iaculis ligula in nisi efficitur, </p>
                            <p><a data-toggle="modal" href="#myModal3" class="btn btn-success btn-sm" role="button"><i class="fa fa-user"></i> Ver Perfil</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ include('modals.twig.html') }}
{% endblock %}