{% extends "layout.twig.html" %}
{% block content %}
    <!-- Services Section -->
    <section id="services">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="section-heading">Ponentes</h2>
                    <div class="line-center"></div>
                    <div class="divider-md"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="profiler">
                        <div class="profiler-header"><img class="flag" src="{{asset('img/about/colombia.png')}}">Colombia</div>
                        <div class="profiler-content">
                            <img src="{{asset('img/ponentes/dr-john-h-gavira.jpg')}}" class="img-circle">
                            <h3>John Harvey Gaviria Calderón</h3>
                            <p>-M&eacute;dico Cirujano de la Universidad de Caldas, Manizales, COLOMBIA</p>
                            <p>-Dermat&oacute;logo de la Pontificia Universidad Javeriana, Bogot&aacute;, COLOMBIA</p>
                            <p>-Maestr&iacute;a en Biolog&iacute;a Molecular Cut&aacute;nea y Capilar de la Universidad de Par&iacute;s, FRANCIA</p>
                            <p>-Investigador en Oxidaci&oacute;n y Envejecimiento y sus Perspectivas M&eacute;dicas en InBiotech - Instituto de Investigaciones en Biotecnolog&iacute;a, Manizales, COLOMBIA.</p>
                            <p>-Conferencista Nacional e Internacional en T&oacute;picos de Dermatolog&iacute;a del Envejecimiento, Rejuvenecimiento Facial No Quir&uacute;rgico y el impacto Cl&iacute;nico de los Antioxidantes en la piel y el cabello.&nbsp;</p>
                            <p><strong>SOCIEDADES CIENTIFICAS:</strong></p>
                            <ul>
                            <li>International Society for Free Radical Research- Miembro</li>
                            <li>Society for Free Radical Biology and Medicine- Miembro</li>
                            <li>Sociedad Colombiana de Dermatolog&iacute;a- Miembro</li>
                            <li>Academia Mexicana de Dermatolog&iacute;a &ndash; Miembro Honorario</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="profiler">
                        <div class="profiler-header"><img class="flag" src="{{asset('img/about/france.png')}}">Francia</div>
                        <div class="profiler-content">
                            <img src="{{asset('img/ponentes/dr-pierre-nicolau.jpg')}}" class="img-circle">
                            <h3>Dr. Pierre Nicolau</h3>
                            <p>El Doctor Pierre Nicolau realiz&oacute; sus estudios en la Facultad de Medicina de Montpellier. Es la escuela de medicina m&aacute;s antigua del mundo todav&iacute;a en actividad que sigue formando m&eacute;dicos desde hace m&aacute;s de mil a&ntilde;os&hellip; de ah&iacute; su reputaci&oacute;n de excelencia.<br /> Luego, el doctor se especializ&oacute; en&nbsp;Cirug&iacute;a Pl&aacute;stica. Luego de terminar su formaci&oacute;n b&aacute;sica en 1979, el doctor fue a perfeccionarse cuatro a&ntilde;os a Inglaterra, donde la cirug&iacute;a pl&aacute;stica y est&eacute;tica se hab&iacute;a desarrollado considerablemente despu&eacute;s de la segunda guerra mundial, sobre todo con el tratamiento de los grandes quemados. El doctor tambi&eacute;n trabaj&oacute; en la ciudad de Houston, en Texas.</p>
                            <p>De regreso en Francia, en 1983, adem&aacute;s de su&nbsp;actividad privada liberal, siempre ha guardado&nbsp;actividades hospitalarias, ocup&aacute;ndose sobre todo de los casos m&aacute;s graves de cirug&iacute;a reparadora: ni&ntilde;os y adultos quemados, c&aacute;nceres de mama y de la piel; y con el desarrollo de la cirug&iacute;a contra la obesidad, el doctor trat&oacute; las secuelas est&eacute;ticas del adelgazamiento.</p>
                            <p>Ejerce la funci&oacute;n de Cirujano Consultor en&nbsp;Paris&nbsp;en el&nbsp;Hospital Universitario Saint Louis;&nbsp;bajo el t&iacute;tulo de Cirujano Agregado Consultor trabaja en el equipo del Profesor Maurice Mimoun, luego de haber realizado pr&aacute;cticas durante m&aacute;s de 10 a&ntilde;os en el Hospital Louis Mourier en Colombes, centro de referencia para el tratamiento quir&uacute;rgico de la obesidad. Desde el a&ntilde;o 2003, el doctor participa en&nbsp;la ense&ntilde;anza del Diploma Inter Universitario, &ldquo;Evaluaci&oacute;n y control de las t&eacute;cnicas de inyecci&oacute;n y de relleno en dermatolog&iacute;a y cirug&iacute;a pl&aacute;stica&rdquo;, Universidad&nbsp;PARIS V, PARIS XII, donde se forma a los m&eacute;dicos dermat&oacute;logos y cirujanos en las inyecciones de relleno y en la toxina botul&iacute;nica.</p>
                            <p>El doctor Nicolau llev&oacute; a cabo&nbsp;misiones humanitarias&nbsp;en Pakist&aacute;n, Vietnam y en &Aacute;frica, donde sigue yendo varias veces al a&ntilde;o. Como&nbsp;experto, fue enviado por el estado franc&eacute;s en misi&oacute;n oficial a Pakist&aacute;n para supervisar un proyecto de creaci&oacute;n de cuatro centros de grandes quemados.</p>
                            <p>Paralelamente, el doctor siempre se mantuvo informado sobre el desarrollo de la cirug&iacute;a est&eacute;tica, participando en&nbsp;varios congresos, tanto en Francia como en el extranjero. Present&oacute; 157 comunicaciones en congresos internacionales, en Europa, USA, Asia, y es invitado todos los a&ntilde;os como&nbsp;orador o profesor, al International Master Course on Aging Skin (IMCAS) desde 2000. Miembro del comit&eacute; editorial cient&iacute;fico del IMCAS desde 2010.</p>
                            <p>Dio 110 sesiones de ense&ntilde;anza en diferentes pa&iacute;ses del mundo. Public&oacute; 37 art&iacute;culos en numerosas revistas cient&iacute;ficas internacionales y varios cap&iacute;tulos en libros especializados. Es Responsable de Ense&ntilde;anza de Cirug&iacute;a Pl&aacute;stica en los hospitales universitarios de Paris, Responsable de Ense&ntilde;anza en la Universidad de PARIS V- Paris XII, TARNIER-COCHIN, cursos&rdquo; Evaluaci&oacute;n y control de las t&eacute;cnicas de inyecci&oacute;n y de relleno en dermatolog&iacute;a y cirug&iacute;a pl&aacute;stica.&rdquo; desde 2003.</p>
                            <p>Miembro de la Sociedad Francesa de Cirug&iacute;a Pl&aacute;stica Reconstructiva y Est&eacute;tica, SOF.CPRE. Miembro de la Sociedad Internacional de Cirug&iacute;a Est&eacute;tica Pl&aacute;stica, ISAPS.Miembro de la Sociedad Espa&ntilde;ola de Medicina Est&eacute;tica, SEME.</p>
                            <p>Esta doble faceta es una garant&iacute;a de seguridad y profesionalismo. El doctor Nicolau sabe integrar su sentido est&eacute;tico en la cirug&iacute;a reparadora y el rigor quir&uacute;rgico en la est&eacute;tica.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="profiler">
                        <div class="profiler-header"><img class="flag" src="{{asset('img/about/panama.png')}}">Panamá</div>
                        <div class="profiler-content">
                            <img src="{{asset('img/ponentes/dra-karen-annette-miller.jpg')}}" class="img-circle">
                            <h3>Dra. Karen Annette Miller</h3>
                            <p>Doctor en Medicina de la Facultad de Medicina de la Universidad de Panam&aacute;</p>
                            <p>Posgrado en Docencia Superior de Facultad de Ciencias de la Educaci&oacute;n de la Universidad de Panam&aacute;</p>
                            <p>Especialista en Dermatologia Instituto de Dermatologia y Cirug&iacute;a de Piel de Guatemala, INDERMA</p>
                            <p>Cirug&iacute;a Microgr&aacute;fica de Mohs, Centro Dermatologia Medico_Cirurgica Hospital Egas Moniz, Lisboa</p>
                            <p>Miembro:</p>
                            <ul>
                            <li>Asociaci&oacute;n Paname&ntilde;a de Dermatologia</li>
                            <li>Sociedad Centroamericana y del Caribe de Dermatologia</li>
                            <li>Academia Americana de Dermatologia</li>
                            <li>Academia Europea de Dermatologia y Venereolog&iacute;a</li>
                            <li>Colegio Ibero-latinoamericano de Dermatolog&iacute;a</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="profiler">
                        <div class="profiler-header"><img class="flag" src="{{asset('img/about/argentina.png')}}">Argentina</div>
                        <div class="profiler-content">
                            <img src="{{asset('img/ponentes/dra-valeria-lopez.jpg')}}" class="img-circle">
                            <h3>Dra. Valeria López</h3>
                            <p>M&eacute;dico Especialista&nbsp;en Medicina Est&eacute;tica y Nutrici&oacute;n<br /> Presidente de SAMEI, Sociedad Argentina de Medicos Expertos en Inyectables<br /> Miembro del Board&nbsp; Del Allergan Academy (Argentina)<br /> Miembro de la WOSIAM y otras&nbsp; sociedades Cient&iacute;ficas<br /> Speaker&nbsp; internacional de Allergan en numerosos Congresos nacionales e internacionales <br /> Speaker internacional de IBSA<br /> Speakear Internacional de Scorpion Tecnolog&iacute;a&nbsp;M&eacute;dica<br /> Autora de diferentes art&iacute;culos cient&iacute;ficos</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="profiler">
                        <div class="profiler-header"><img class="flag" src="{{asset('img/about/usa.png')}}">Estados Unidos</div>
                        <div class="profiler-content">
                            <img src="{{asset('img/ponentes/dr-neil-sadick.jpg')}}" class="img-circle">
                            <h3>Dr. Neil Sadick</h3>
                            <p><strong>Founder &amp; President</strong></p>
                            <p>Neil Sadick, MD FAAD, FAACS, FACP, FACPh, is one of the most influential and renowned dermatologists and researchers in the world. His multiple discoveries have strongly influenced and transformed the future of dermatology.&nbsp; He is founder of the world renowned Sadick Research group.&nbsp; He is also the author of the bestselling consumer book, The New Natural.</p>
                            <p>Dr. Sadick holds four board certifications: Dermatology, Internal Medicine, Cosmetic Surgery, and Hair Restoration. &nbsp;He is also a Fellow of the American College of Phlebology and a Diplomate of the American Board of Phlebology.</p>
                            <p>Dr. Sadick&rsquo;s prestigious list of titles range from Clinical Professor of Dermatology at Weill Cornell Medical College to Vice President of the International Society for Dermatologic Surgeons, Past President of the American Academy of Cosmetic Surgery, Past President of the Cosmetic Surgery Foundation and Past President of the American College of Phlebology. He is the Secretary/Treasurer of the Noah Worcester Dermatological Society, and Treasurer of the Women&rsquo;s Dermatologic Society.</p>
                            <p>He is a board member of Hair Research Foundation of the International Society of Hair Restoration Surgery and serves on the Scientific Advisory Council of the Hair Foundation and Board of Directors for the American Academy of Dermatology, Executive Board of the Women&rsquo;s Dermatologic Society and has served on the Board of the American Society of Dermatologic Surgery&nbsp;</p>
                            <p>He has been listed on New York Magazines &ldquo;Best Doctors&rdquo; list for several years running, and has been featured in the media and appeared on the Dr. Oz Show, Access Hollywood, The Real Housewives of New York and the Today Show.</p>
                            <p>He serves as Senior Editor of Journal of Drugs in Dermatology, is an Associate Editor of Journal of Cosmetic Dermatology, and serves on the Editorial board for the Journal of Phlebology, Journal of the American Academy of Dermatology and Dermatologic Surgery</p>
                            <p>Dr. Sadick has authored over 280 journal publications and has written over 20 books on hair disorders, facial rejuvenation, lasers, sclerotherapy and cosmetic surgery as well as 60 book chapters on cosmeceuticals, hair transplantation, lasers and sclerotherapy.&nbsp; He has presented more than 500 major academic presentations throughout the world.&nbsp;</p>
                            <p>Dr. Sadick has traveled globally training dermatologists, plastic surgeons, and aesthetic physicians on new and advanced injectables and laser techniques.&nbsp; He is also fluent in Spanish and German.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="profiler">
                        <div class="profiler-header">Latinoamérica</div>
                        <div class="profiler-content">
                            <img src="{{asset('img/ponentes/dra-veronica-sanchez.jpg')}}" class="img-circle">
                            <h3>Dra. Verónica Sánchez</h3>
                            <p>Dr. Sanchez is the Latin American/US Hispanic Hair Care Scientific Communications Director at Procter &amp; Gamble and a member of the Pantene Institute.&nbsp; She currently lives in Cincinnati, USA.&nbsp; In her role, Dr. Sanchez is responsible for leveraging the science and innovations of Head &amp; Shoulders and Pantene products to Latin American audiences.</p>
                            <p>Dr. Sanchez has an extensive technical and scientific experience both inside and outside research with a Doctorate Degree in Biochemistry and over 23 years in P&amp;G R&amp;D and Scientific Communication.&nbsp; She is always looking for better ways to communicate our numerous Hair Care products&rsquo; benefits and modes of action.&nbsp; In her work Dr. Sanchez has created demos and educational material that are widely used.&nbsp; She is immersed in the continue understanding of Beauty and its effects on daily life.</p>
                            <p>Dr. Sanchez is a graduate of the University of Tennessee, Memphis; where she received a Ph.D. in Biochemistry.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ include('modals.twig.html') }}
{% endblock %}