{% extends "layout.twig.html" %}
{% block content %}
<!-- Services Section -->
		<section id="services">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<h2 class="section-heading">Programa General<br/><small>Del 6 al 8 de Octubre 2016</small></h2>
						<div class="line-center"></div>
						<h3 class="tab-head">Jueves 6 de Octubre<br/><small>SALA DE CONFERENCIAS</small></h3>
						<table>
							<tbody>
								<tr>
									<th width="15%">
										Horario
									</th>
									<th width="70%">
										Plática
									</th>
									<th>
										Responsable
									</th>
								</tr>
								<tr>
									<td>
										08.00-09:00
									</td>
									<td>
										<strong>Registro e Inscripciones</strong>
									</td>
									<td>
									</td>
								</tr>
								<tr>
									<td>
										09:00-09:10
									</td>
									<td>
										<strong>Bienvenida SIMPOSIUM DE PELO</strong>
									</td>
									<td>
										Dr Javier Ru&iacute;z
									</td>
								</tr>
								<tr>
									<td>
										09:10-09:30
									</td>
									<td>
										Alopecia Androgen&eacute;tica: Revisi&oacute;n del tratamiento sist&eacute;mico
									</td>
									<td>
										Dr. David Poletti
									</td>
								</tr>
								<tr>
									<td>
										09:30-09:50
									</td>
									<td>
										Alopecia frontal Fibrosante, hay algo que hacer?
									</td>
									<td>
										Dr. Jonh Gaviria
									</td>
								</tr>
								<tr>
									<td>
										09:50-10:05
									</td>
									<td>
										Hair-breakage: Opciones de reestructuraci&oacute;n
									</td>
									<td>
										Dra. Abril Mart&iacute;nez
									</td>
								</tr>
								<tr>
									<td>
										10:05-10:20
									</td>
									<td>
										Dermatosis de cejas y pesta&ntilde;as
									</td>
									<td>
										Dr. Jonh Gaviria
									</td>
								</tr>
								<tr>
									<td>
										10:20-10:40
									</td>
									<td>
										Micropunci&oacute;n el&eacute;ctrica en alopecia androgen&eacute;tica
									</td>
									<td>
										Dr. Serrano
									</td>
								</tr>
								<tr>
									<td>
										10:40-11:00
									</td>
									<td>
										<strong>RECESO</strong>
									</td>
									<td>
									</td>
								</tr>
								<tr>
									<td>
										11:00-11:15
									</td>
									<td>
										Actualidades en antioxidantes: Acido alfa lipoico
									</td>
									<td>
										Dr. Alejandro Gonz&aacute;lez Silva
									</td>
								</tr>
								<tr>
									<td>
										11:15-11:30
									</td>
									<td>
										Niacinamida en la piel: Evidencia cient&iacute;fica
									</td>
									<td>
										Dra. Patricia Carmona
									</td>
								</tr>
									<tr>
									<td>
										11:30-11:50
									</td>
									<td>
										Bio-Estimulaci&oacute;n de Col&aacute;geno con rellenos inyectables
									</td>
									<td>
										Dr. Pierre Nicolau
									</td>
									</tr>
								<tr>
									<td>
										11:50-12:05
									</td>
									<td>
										La novedad en imagen y rejuvenecimiento a trav&eacute;s de los Fibroblastos
									</td>
									<td>
										Dr. Daniel Asz Sigal
									</td>
									</tr>
								<tr>
									<td>
										12:05-12:20
									</td>
									<td>
										<em>Pendiente</em>
									</td>
									<td>
										<em>Pendiente</em>
									</td>
								</tr>
								<tr>
									<td>
										12:20-12:35
									</td>
									<td>
										Hipersensibilidad cut&aacute;nea y sus complicaciones. La respuesta inmediata y continua que act&uacute;a desde las causas origen
									</td>
									<td>
										Dra Ingrid L&oacute;pez Gehrke
									</td>
								</tr>
								<tr>
									<td>
										12:35-13:00
									</td>
									<td>
										<strong>RECESO</strong>
									</td>
									<td>
									</td>
								</tr>
								<tr>
									<td>
										13:00-13:20
									</td>
									<td>
										Nuevas estrategias terap&eacute;uticas para Varices
									</td>
									<td>
										Dr. Sadick
									</td>
								</tr>
								<tr>
									<td>
										13:20-13:40
									</td>
									<td>
										Innovaci&oacute;n tecnol&oacute;gica sin contacto para modelado corporal: Vanquish + Ondas de choque
									</td>
									<td>
										Dra. Miroslava Solano Orozco
									</td>
								</tr>
								<tr>
									<td>
										13:40-14:00
									</td>
									<td>
										Celulitis: Fisiopatolog&iacute;a y Tratamiento
									</td>
									<td>
										Dr. Sadick
									</td>
								</tr>
								<tr>
									<td>
										14:00-14:15
									</td>
									<td>
										Conociendo la Plataforma ICON
									</td>
									<td>
										Dra. Fernanda Hurtado
									</td>
								</tr>
								<tr>
									<td>
										14:15-16:00
									</td>
									<td>
										<strong>COMIDA LIBRE</strong>
									</td>
									<td>
									</td>
								</tr>
								<tr>
									<td>
										16:00-19:00
									</td>
									<td>
										<strong>SIMPOSIUM</strong><strong> ALLERGAN ACADEMY </strong><br/>
										<img src="{{asset('img/logos/allergan.jpg')}}" width="120px">
									</td>
									<td>
										<em>Pendiente </em>
									</td>
								</tr>
							</tbody>
						</table>
						<hr>
						<h3 class="tab-head">Viernes 7 de Octubre<small><br/>SALA DE CONFERENCIAS</small></h3>
						<table>
							<tbody>
								<tr>
									<th width="15%">
										Horario
									</th>
									<th width="70%">
										Plática
									</th>
									<th>
										Responsable
									</th>
								</tr>
								<tr>
									<td>
										08:45-09:00
									</td>
									<td>
										Prote&iacute;nas de sistema inmune en acn&eacute;, resultados de nuevas investigaciones
									</td>
									<td>
										Dra. Ingrid L&oacute;pez Hercke
									</td>
								</tr>
								<tr>
									<td>
										09:00-09:15
									</td>
									<td>
										Los procesos de glicaci&oacute;n y oxidaci&oacute;n en el envejecimiento de la piel
									</td>
									<td>
										Dra. Fadua Besil
									</td>
								</tr>
								<tr>
									<td>
										09:15-09:30
									</td>
									<td>
										Fotoprotecci&oacute;n oral
									</td>
									<td>
										Dr. Rodrigo Rold&aacute;n Mar&iacute;n
									</td>
								</tr>
								<tr>
									<td>
										09:30-09:45
									</td>
									<td>
										Utilidad de los Cosmec&eacute;uticos en Ros&aacute;cea
									</td>
									<td>
										Dra. Susana Sil Zavaleta
									</td>
								</tr>
								<tr>
									<td>
										09:45-10:00
									</td>
									<td>
										Aplicaciones faciales de enzimas &nbsp;
									</td>
									<td>
										Dra. Gabriela Campos
									</td>
								</tr>
								<tr>
									<td>
										10:00-10:20
									</td>
									<td>
										Una nueva alternativa terap&eacute;utica en vit&iacute;ligo
									</td>
									<td>
										Dr. Serrano
									</td>
								</tr>
								<tr>
									<td>
										10:20-10:40
									</td>
									<td>
										<strong>RECESO</strong>
										<strong>&nbsp;</strong>
									</td>
									<td>
									</td>
								</tr>
								<tr>
									<td>
										10:40-11:00
									</td>
									<td>
										Rejuvenecimiento vaginal externo: Es tarea del dermat&oacute;logo?
									</td>
									<td>
										Dr. Ricardo Galv&aacute;n
									</td>
								</tr>
								<tr>
									<td>
										11:00-11:15
									</td>
									<td>
										Rejuvenecimiento vaginal interno
									</td>
									<td>
										Dr. Heriberto Silva
									</td>
								</tr>
								<tr>
									<td>
										11:15-11:30
									</td>
									<td>
										Despigmentaci&oacute;n anal y axilar: Mitos y realidades
									</td>
									<td>
										Dr. Ricardo Galv&aacute;n
									</td>
								</tr>
								<tr>
									<td>
										11:30-11:45
									</td>
									<td>
										Tecnolog&iacute;a de picosegundos para retiro de tatuajes
									</td>
									<td>
										Dra. Isela M&eacute;ndez
									</td>
								</tr>
								<tr>
									<td>
										11:45-12:00
									</td>
									<td>
										Que hay de nuevo en Laser? Laser fraccionado h&iacute;brido
									</td>
									<td>
										Dr. H&eacute;ctor Leal
									</td>
								</tr>
								<tr>
									<td>
										12:00-12:20
									</td>
									<td>
										Tecnolog&iacute;a aplicada en rejuvenecimiento corporal
									</td>
									<td>
										Dr. Sadick
									</td>
								</tr>
								<tr>
									<td>
										12:20-12:40
									</td>
									<td>
										<strong>RECESO</strong>
									</td>
									<td>
									</td>
								</tr>
								<tr>
									<td>
										12:40-13:00
									</td>
									<td>
										Reposicionamiento de los compartimientos de la grasa profunda para lograr un efecto lifting facial
									</td>
									<td>
										Dr. Pierre Nicolau
									</td>
								</tr>
								<tr>
									<td>
										13:00-13:20
									</td>
									<td>
										Rinomodelaci&oacute;n sin cirug&iacute;a, aprendiendo la t&eacute;cnica
									</td>
									<td>
										<em>Pendiente</em>
									</td>
								</tr>
								<tr>
									<td>
										13:20-13:35
									</td>
									<td>
										Efectos cl&iacute;nicos de la t&eacute;cnica Microbotox
									</td>
									<td>
										Dra. Rosy Ponce
									</td>
								</tr>
								<tr>
									<td>
										13:35-13:50
									</td>
									<td>
										Terapias combinadas para lograr mejores resultados en tratamientos est&eacute;ticos faciales
									</td>
									<td>
										Dr. Pierre Nicolau
									</td>
								</tr>
								<tr>
									<td>
										13:50-14:05
									</td>
									<td>
										Reconstrucci&oacute;n facial en quemaduras
									</td>
									<td>
										Dr. Fernando Guerrero Cirujano Pl&aacute;stico
									</td>
								</tr>
								<tr>
									<td>
										14:05-14:20
									</td>
									<td>
										Marcaci&oacute;n abdominal LASER
									</td>
									<td>
										Dr. Eric Rojas Blanco
									</td>
								</tr>
								<tr>
									<td>
										14:20-15:45
									</td>
									<td>
										<strong>COMIDA LIBRE</strong>
									</td>
									<td>
									</td>
								</tr>
								<tr>
									<td>
										15:45-18:00
									</td>
									<td>
										<strong>SIMPOSIUM MERZ AESTHETICS ACADEMY</strong><br/>
										<img src="{{asset('img/logos/aesthetics.jpg')}}" width="120px">
									</td>
									<td>
										<em>Pendiente</em>
									</td>
								</tr>
							</tbody>
						</table>
						<h3 class="tab-head">Workshops (Cupo limitado) <br/><small>Sal&oacute;n Palacio de Iturbide 3</small></h3>
						<table>
							<tbody>
								<tr>
									<th width="15%">
										Horario
									</th>
									<th width="70%">
										Plática
									</th>
									<th>
										Responsable
									</th>
								</tr>
								<tr>
									<td>
										11:30-13:30
									</td>
									<td>
										Taller LASERS Cynosure/ellman: CO2/Erbium, NDYAG, Diodo
									</td>
									<td>
										SkinMedical
									</td>
								</tr>
							</tbody>
						</table>
						<hr/>
						<h3 class="tab-head">S&Aacute;BADO 8 DE OCTUBRE<br /><small>SALA DE CONFERENCIAS</small></h3>
						<table>
							<tbody>
								<tr>
									<th width="15%">
										Horario
									</th>
									<th width="70%">
										Plática
									</th>
									<th>
										Responsable
									</th>
								</tr>
								<tr>
									<td>
										09:10-09:35
									</td>
									<td>
										Repercusi&oacute;n de la alimentaci&oacute;n en el envejecimiento
									</td>
									<td>
										Lic. Alejandra Vel&aacute;zquez
									</td>
								</tr>
								<tr>
									<td>
										09:35-09:50
									</td>
									<td>
										Derivados bot&aacute;nicos en Dermatolog&iacute;a
									</td>
									<td>
										Dr. Gustavo Gonz&aacute;lez Valle
									</td>
								</tr>
								<tr>
									<td>
										09:50-10:05
									</td>
									<td>
										Opciones de rejuvenecimiento de cuello
									</td>
									<td>
										Dr. Jair Barrios
									</td>
								</tr>
								<tr>
									<td>
										10:05-10:20
									</td>
									<td>
										Rejuvenecimiento: Tecnolog&iacute;a de micro-agujas
									</td>
									<td>
										Dra. Jesse Schwartzberg
									</td>
								</tr>
								<tr>
									<td>
										10:20-10:35
									</td>
									<td>
										&iquest;Retinoide de d&iacute;a?
									</td>
									<td>
										<em>Pendiente</em>
									</td>
								</tr>
								<tr>
									<td>
										10:35-11:00
									</td>
									<td>
										Nuevos Peelings de Fenol
									</td>
									<td>
										<em>Pendiente</em>
									</td>
								</tr>
								<tr>
									<td>
										11:00-11:15
									</td>
									<td>
										Acn&eacute; de la mujer adulta, Como manejarlo?
									</td>
									<td>
										Dra. Dalia Rodr&iacute;guez
									</td>
								</tr>
								<tr>
									<td>
										11:15-11:35
									</td>
									<td>
										<strong>RECESO</strong>
									</td>
									<td>
									</td>
								</tr>
								<tr>
									<td>
										11:35-11:50
									</td>
									<td>
										<em>Pendiente</em>
									</td>
									<td>
										<em>Pendiente</em>
									</td>
								</tr>
								<tr>
									<td>
										11:50-12:05
									</td>
									<td>
										Usos convencionales de la Micropunci&oacute;n el&eacute;ctrica
									</td>
									<td>
										Dr. Gustavo Segura
									</td>
								</tr>
								<tr>
									<td>
										12:05-12:30
									</td>
									<td>
										Diferencias cerebrales entre hombres y mujeres
									</td>
									<td>
										Dr. Eduardo Calixto
									</td>
								</tr>
								<tr>
									<td>
										12:30-12:50
									</td>
									<td>
										Como me veo, me trato
									</td>
									<td>
										Dra. Libe Molina
									</td>
								</tr>
								<tr>
									<td>
										12:50:13:10
									</td>
									<td>
										De la moda, lo que te acomoda
									</td>
									<td>
										Sara Bustani
									</td>
								</tr>
								<tr>
									<td>
										13:10-13:25
									</td>
									<td>
										Experiencia en uso de laser para onicomicosis
									</td>
									<td>
										Dr. Galv&aacute;n
									</td>
								</tr>
								<tr>
									<td>
										13:25-13:40
									</td>
									<td>
										Coolsculpting, procedimiento &nbsp;lider no invasivo para eliminaci&oacute;n de grasa localizada
									</td>
									<td>
										Dra. Valeria L&oacute;pez
									</td>
								</tr>
								<tr>
									<td>
										13:40-13:45
									</td>
									<td>
										Clausura
									</td>
									<td>
										Dr. Javier Ru&iacute;z
									</td>
								</tr>
							</tbody>
						</table>
						<hr>
					</div>
				</div>
			</div>
		</section>
{% endblock %}