<!-- speakers Modal Bootstrap Style -->
    <!-- speakers 001 -->
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content text-center">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Miakel Akerfeldt</h4>
                </div>
                <div class="modal-body">
                    <p>
                        <img src="{{asset('img/ponentes/ponente001.jpg')}}" alt="..." class="img-circle">
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dapibus, lacus quis sollicitudin hendrerit, mauris felis bibendum magna, sit amet gravida tellus diam at massa. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent dignissim ornare massa a aliquam. Donec imperdiet est neque, sed mollis libero convallis ac. Nullam in hendrerit mauris, eget eleifend urna. Fusce tincidunt ipsum nec tristique sollicitudin. Praesent eget magna euismod, facilisis massa pharetra, pharetra ex. Nullam quis justo in turpis finibus finibus. 
                    </p>
                    <p>
                        Pellentesque euismod risus nisi, vitae placerat nisl congue eu. Nunc non vestibulum metus. Nunc tristique libero pretium dui condimentum, ut condimentum leo auctor. Proin maximus sit amet lorem nec vestibulum. Suspendisse auctor condimentum elementum. Integer velit felis, placerat id elit nec, commodo ornare sem. Duis ac diam ornare erat aliquet semper eu id est. Donec aliquet est nibh, efficitur pellentesque nibh fermentum at. 
                    </p>
                    <ul class="list-inline social-buttons">
                        <li><a href="https://twitter.com/dermacosmetica" target="_blank"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="https://www.facebook.com/dermacosmetica2015" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="https://twitter.com/javierderma"><i class="fa fa-twitter"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times-circle"></i> cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- speakers 002 -->
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content text-center">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Anneke Van Giesbergen</h4>
                </div>
                <div class="modal-body">
                    <p>
                        <img src="{{asset('img/ponentes/ponente002.jpg')}}" alt="..." class="img-circle">
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dapibus, lacus quis sollicitudin hendrerit, mauris felis bibendum magna, sit amet gravida tellus diam at massa. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent dignissim ornare massa a aliquam. Donec imperdiet est neque, sed mollis libero convallis ac. Nullam in hendrerit mauris, eget eleifend urna. Fusce tincidunt ipsum nec tristique sollicitudin. Praesent eget magna euismod, facilisis massa pharetra, pharetra ex. Nullam quis justo in turpis finibus finibus. 
                    </p>
                    <p>
                        Pellentesque euismod risus nisi, vitae placerat nisl congue eu. Nunc non vestibulum metus. Nunc tristique libero pretium dui condimentum, ut condimentum leo auctor. Proin maximus sit amet lorem nec vestibulum. Suspendisse auctor condimentum elementum. Integer velit felis, placerat id elit nec, commodo ornare sem. Duis ac diam ornare erat aliquet semper eu id est. Donec aliquet est nibh, efficitur pellentesque nibh fermentum at. 
                    </p>
                    <ul class="list-inline social-buttons">
                        <li><a href="https://twitter.com/dermacosmetica" target="_blank"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="https://www.facebook.com/dermacosmetica2015" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="https://twitter.com/javierderma"><i class="fa fa-twitter"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times-circle"></i> cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- speakers 002 -->
    <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content text-center">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Chrsitina Scabia</h4>
                </div>
                <div class="modal-body">
                    <p>
                        <img src="{{asset('img/ponentes/ponente003.jpg')}}" alt="..." class="img-circle">
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dapibus, lacus quis sollicitudin hendrerit, mauris felis bibendum magna, sit amet gravida tellus diam at massa. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent dignissim ornare massa a aliquam. Donec imperdiet est neque, sed mollis libero convallis ac. Nullam in hendrerit mauris, eget eleifend urna. Fusce tincidunt ipsum nec tristique sollicitudin. Praesent eget magna euismod, facilisis massa pharetra, pharetra ex. Nullam quis justo in turpis finibus finibus. 
                    </p>
                    <p>
                        Pellentesque euismod risus nisi, vitae placerat nisl congue eu. Nunc non vestibulum metus. Nunc tristique libero pretium dui condimentum, ut condimentum leo auctor. Proin maximus sit amet lorem nec vestibulum. Suspendisse auctor condimentum elementum. Integer velit felis, placerat id elit nec, commodo ornare sem. Duis ac diam ornare erat aliquet semper eu id est. Donec aliquet est nibh, efficitur pellentesque nibh fermentum at. 
                    </p>
                    <ul class="list-inline social-buttons">
                        <li><a href="https://twitter.com/dermacosmetica" target="_blank"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="https://www.facebook.com/dermacosmetica2015" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="https://twitter.com/javierderma"><i class="fa fa-twitter"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times-circle"></i> cerrar</button>
                </div>
            </div>
        </div>
    </div>